<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flowers</title>
</head>
<body style="background-color: rgb(242, 147, 242);">
   <div class="container">
    <h1 class="title">Hurmatli xaridorlar bizning do'konda quyidagi gullar bor. Xoxlagan gulingizga buyurtma berishingiz mumkin. Gullarni uyingizga yetkazib berish xizmati ham bor.</h1>
    <div class="columns">
        <div class="column">
            <div class="box">
                <div class="title">{{flower.name}}</div>
            </div>
        </div>
    </div>
    
   </div>
</body>
</html>